.hb {
	display: inline-block;
	position:relative;
	text-align: center; /*  Default text align center */
	z-index: 0;
}
.hb:before,
.hb:after {
	position: absolute;
	content: "";
	left: -1px;
	top: 0;
	z-index: -1;
}
.hb:before {
	-webkit-transform: rotate(60deg);
	-moz-transform: rotate(60deg);
	-ms-transform: rotate(60deg);
	-o-transform: rotate(60deg);
	transform: rotate(60deg);
}
.hb:after {
	-webkit-transform: rotate(-60deg);
	-moz-transform: rotate(-60deg);
	-ms-transform: rotate(-60deg);
	-o-transform: rotate(-60deg);
	transform: rotate(-60deg);
}
.hb i {
	z-index: 9;
	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
}
.hb,
.hb:before,
.hb:after {
	 box-sizing: border-box;

	 -webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
}
.hb-md {
	line-height: 37px;
	font-size: 37px;
	margin: 37px 0px;
}
.hb-md ,
.hb-md:before ,
.hb-md:after {
	height: 37px;
	width: 64px;
}
.hb-linkedin,
.hb-linkedin:before,
.hb-linkedin:after  {
	background: #373a3c;
	border-color: #373a3c;
	color: #ffffff;
}
.hb-linkedin:hover,
.hb-linkedin:hover:before,
.hb-linkedin:hover:after {
	background:transparent;
	border-color: #e92ac3;
	color: #e92ac3;
  z-index: 100;
}
/* linkedin inverts */
.hb-linkedin-inv,
.hb-linkedin-inv:after,
.hb-linkedin-inv:before{
	background:transparent;
	border-color: #e92ac3;
	color: #e92ac3;
  z-index: 100;
}
.hb-linkedin-inv:hover,
.hb-linkedin-inv:hover:after,
.hb-linkedin-inv:hover:before {
	border-color: #e92ac3;
	color: #e92ac3;
  z-index: 100;
	color: #ffffff;
}
.hb-github,
.hb-github:before ,
.hb-github:after {
	background: #373a3c;
	border-color: #373a3c;
	color: #ffffff;
}
.hb-github:hover,
.hb-github:hover:before ,
.hb-github:hover:after {
	background:transparent;
	border-color: #e92ac3;
	color: #e92ac3;
  z-index: 100;
}
/* github inverts */
.hb-github-inv,
.hb-github-inv:after ,
.hb-github-inv:before {
	background:transparent;
	border-color: #e92ac3;
	color: #e92ac3;
  z-index: 100;
}
.hb-github-inv:hover,
.hb-github-inv:hover:after ,
.hb-github-inv:hover:before {
	border-color: #e92ac3;
	color: #e92ac3;
  z-index: 100;
	color: #ffffff;
}
.hb-codepen,
.hb-codepen:before ,
.hb-codepen:after {
	background: #373a3c;
	border-color: #373a3c;
	color: #ffffff;
}
.hb-codepen:hover,
.hb-codepen:hover:before ,
.hb-codepen:hover:after {
	background:transparent;
	border-color: #e92ac3;
	color: #e92ac3;
  z-index: 100;
}
/* codepen inverts */
.hb-codepen-inv,
.hb-codepen-inv:after ,
.hb-codepen-inv:before {
	background:transparent;
	border-color: #e92ac3;
	color: #e92ac3;
  z-index: 100;
}
.hb-codepen-inv:hover,
.hb-codepen-inv:hover:after ,
.hb-codepen-inv:hover:before {
	border-color: #e92ac3;
	color: #e92ac3;
  z-index: 100;
	color: #ffffff;
}
.hex-button{
  position: relative;
	display:block;
	background: transparent;
	width:200px;
	height:60px;
	line-height:60px;
	text-align:center;
	font-size:15px;
	text-decoration:none;
	text-transform:uppercase;
}
.hex-button:before, .hex-button:after {
	width:200px;
  left: 0px;
	height:27px;
  z-index: -1;
}
.hex-border{ color: var(--secondary); }
/* Hex-button Border Style */
.hex-border:before,.hex-border:after {
	border: 3px solid var(--secondary);
}
.hex-button:before{
  position: absolute;
  content: '';
  border-bottom: none;
  -webkit-transform: perspective(15px) rotateX(5deg);
  -moz-transform: perspective(15px) rotateX(5deg);
  transform: perspective(15px) rotateX(5deg);
}
.hex-button:after{
  position: absolute;
  top: 32px;
  content: '';
  border-top: none;
  -webkit-transform: perspective(15px) rotateX(-5deg);
  -moz-transform: perspective(15px) rotateX(-5deg);
  transform: perspective(15px) rotateX(-5deg);
}
/* Hex-button Hover Style */
.hex-border:hover:before, .hex-border:hover:after {
	background: linear-gradient(
    90deg, var(--primary) 0%, var(--secondary) 100%
  );
}
.hex-button:hover{
	color:#fff;
}
.hex-button{
  position: relative;
	display:block;
	background: transparent;
	width:200px;
	height:60px;
	line-height:60px;
	text-align:center;
	font-size:15px;
	text-decoration:none;
	text-transform:uppercase;
}
.hex-button#sendButton {
  margin-top: 1rem;
}
.hex-button:before, .hex-button:after {
	width:200px;
  left: 0px;
	height:27px;
  z-index: -1;
}
.hex-border{ color: var(--secondary); }
/* Hex-button Border Style */
.hex-border:before,.hex-border:after {
	border: 3px solid var(--secondary);
}
.hex-button:before{
  position: absolute;
  content: '';
  border-bottom: none;
  -webkit-transform: perspective(15px) rotateX(5deg);
  -moz-transform: perspective(15px) rotateX(5deg);
  transform: perspective(15px) rotateX(5deg);
}
.hex-button:after{
  position: absolute;
  top: 32px;
  content: '';
  border-top: none;
  -webkit-transform: perspective(15px) rotateX(-5deg);
  -moz-transform: perspective(15px) rotateX(-5deg);
  transform: perspective(15px) rotateX(-5deg);
}
/* Hex-button Hover Style */
.hex-border:hover:before, .hex-border:hover:after {
	background: linear-gradient(
    90deg, var(--primary) 0%, var(--secondary) 100%
  );
}
.hex-button:hover{
	color:#fff;
}
