.contact {
  z-index: 99!important;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 10%;
  /* padding: 70px 10% 0; */
  background-color: transparent;
  margin-top: 20rem;
}

.contact .contact-wrapper {
  z-index: 99!important;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: top;
  background-color: transparent;
}

.action {
  z-index: 100!important;
}

.contact h2 {
  z-index: 99!important;
  margin-bottom: 0.5rem;
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.2;
}

.contact .contact-content h2 {
  color: transparent;
}

.contact-content {
  max-width: 100%;
  margin-left: 10rem;
  text-align: left;
  margin-bottom: 3rem;
  z-index: 100!important;
}

.contact-content h3 {
  z-index: 99!important;
  margin-bottom: 0.5rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
  align-items: left;
}

.contact-content p {
  z-index: 99!important;
  margin-bottom: 0.5rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  align-items: left;
}

.contact-content {
  z-index: 99!important;
  align-items: left!important;
}

.contact-content h3,
.contact-content p {
  padding-left: 1rem;
}

.contact-content a.hex-button.hex-border {
  margin-left: 0rem;
}

.contact .heading {
  z-index: 99!important;
}

contact form {
  max-width: 100%;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 4rem;
  z-index: 99!important;
}

.contact form .contact-form-box1,
.contact form .contact-form-box2 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 99!important;
}

.contact form .contact-form-box1 input,
.contact form .contact-form-box2 input,
.contact form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 2rem;
  color: var(--text);
  background: var(--background);
  border-radius: 0.8rem;
  margin: 0.7rem 0;
}

.contact form .contact-form-box1 input {
  width: 49%;
}

.contact form .contact-form-box2 input {
  width: 100%!important;
}

.contact form textarea {
  resize: none;
}

.contact .hex-button .hex-border {
  z-index: 100!important;
}

a.hex-button.hex-border {
  margin-left: 1.75rem;
  margin-top: 1rem;
  cursor: pointer;
}

a.hex-button.hex-border#cv-pdf {
  margin-left: 0rem;
  margin-top: 2.5rem;
  cursor: pointer;
}

#sendButton {
  margin-left: 2rem;
}

.modal {
  display: none;
}
.modal.show {
  display: block;
}

