.portfolio {
margin-top: 10rem;
}

.portfolio img {
  max-width: 100%;
  display: block;
}
.portfolio .wrapper {
  z-index: 200;
  max-width: 120rem;
  margin-inline: auto;
  padding: 1rem;
}

.accordion {
  --_button-size: 7rem;
  --_panel-padding: 1.5rem;
  --_panel-gap: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: transparent;
  margin-top: 10rem;
}

.accordion * {
  margin: 0;
}

@media (min-width: 719px) {
  .accordion {
    flex-direction: row;
    height: 70rem;
  }
}

.accordion-panel {
  position: relative;
  isolation: isolate;
  overflow: hidden;
  padding: var(--_panel-padding);
  flex-basis: calc((var(--_panel-padding) * 2) + var(--_button-size));
  border-radius: calc(((var(--_panel-padding) * 2) + var(--_button-size)) / 2);
}

.accordion-panel:has([aria-expanded="true"]) {
  flex-basis: clamp(60rem, 40vh, 20rem);
  flex-grow: 1;
}

.accordion-content > p {
  opacity: 0;
  font-weight: 600;
  margin-left: calc(var(--_button-size) + var(--_panel-gap));
  margin-right: calc(var(--_button-size) + var(--_panel-gap));
  color: var(--text);
  text-shadow: 0 0 2px black;
  font-size: 2rem;
  transform: translateY(4rem);
}

@media (min-width: 1090px) {
  .accordion-content > p {
    margin-right: calc((var(--_button-size) + var(--_panel-gap)) * 3)!important;
  }
}

@media (min-width: 990px) and (max-width: 1089) {
  .accordion-content > p {
    margin-right: calc((var(--_button-size) + var(--_panel-gap)) * 2)!important;
  }
}

@media (min-width: 720px) and (max-width: 989) {
  .accordion-content > p {
    margin-right: calc(var(--_button-size) + var(--_panel-gap))!important;
  }
}

.accordion-panel:has([aria-expanded="true"]) .accordion-content > p,
.accordion-panel:has([aria-expanded="true"]) .accordion-content > ul {
  transform: translateY(2)!important;
  opacity: 1!important;
}

.accordion-image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  transition: filter 500ms;
}

.accordion-panel:has([aria-expanded="true"]) .accordion-image {
  filter: brightness(0.5);
}

@media (prefers-reduced-motion: no-preference) {
  .accordion-panel {
    transition: flex-basis 500ms, flex-grow 500ms;
  }
  .accordion-panel:has([aria-expanded="true"]) .accordion-content > p {
    transition: transform 500ms 500ms, opacity 950ms 500ms;
  }
}

.accordion-icon {
  width: var(--_button-size);
  aspect-ratio: 1 / 1;
  padding: 0.75rem;
  border-radius: 50%;
}
#accordion-icon1 {
  background: hsl(0 0% 0% / 0.25);
  z-index: 1;
}
#accordion-icon2 {
  background: hsl(0 0% 0% / 0.25);
  z-index: 1;
}
#accordion-icon3 {
  background: hsl(0, 0%, 100%, 0.45);
  z-index: 1;
}

.accordion-trigger {
  display: flex;
  align-items: center;
  gap: var(--_panel-gap);
  flex-direction: row-reverse;
  background: transparent;
  padding: 0;
  border: 0;
  font-weight: 700;
  font-size: 2.75rem;
}
.panel-title:has([aria-hidden="true"]) #panel1-title,
.panel-title:has([aria-hidden="true"]) #panel2-title,
.panel-title:has([aria-hidden="true"]) #panel3-title {
  display: none;
}
#panel1-title {
  color: rgb(255, 55, 55);
  text-shadow: 0 0 1px white;
  /* text-shadow: 0 0 5px black; */
  z-index: 1;
  position: relative;
  isolation: isolate;
  display: grid;
  align-items: center;
}
#panel2-title {
  color: rgb(255, 208, 0);
  text-shadow: 0 0 4px black;
  z-index: 1;
  position: relative;
  isolation: isolate;
  display: grid;
  align-items: center;
}
#panel3-title {
  color: #ff70e2;
  text-shadow: 0 0 5px black;
  z-index: 1;
  position: relative;
  isolation: isolate;
  display: grid;
  align-items: center;

}

  #panel1-title::after {
    content: "";
    position: absolute;
    left: calc((var(--_panel-gap) + var(--_button-size)) * -1);
    width: calc(100% + (var(--_button-size) * 1.5));
    height: var(--_button-size);
    background: hsl(0 0% 0% / 0.5);
    z-index: -1;
    border-radius: 100vw;
    }
  #panel2-title::after {
    content: "";
    position: absolute;
    left: calc((var(--_panel-gap) + var(--_button-size)) * -1);
    width: calc(100% + (var(--_button-size) * 1.5));
    height: var(--_button-size);
    background: hsl(0 0% 0% / 0.5);
    z-index: -1;
    border-radius: 100vw;
    }
  #panel3-title::after {
    content: "";
    position: absolute;
    left: calc((var(--_panel-gap) + var(--_button-size)) * -1);
    width: calc(100% + (var(--_button-size) * 1.5));
    height: var(--_button-size);
    background: hsl(0 0% 100% / 0.45);
    z-index: -1;
    border-radius: 100vw;
    }

@media (max-width: 719px) {
  #panel1-title::after {
    content: "";
    position: absolute;
    left: calc((var(--_panel-gap) + var(--_button-size)) * -1);
    width: calc(100% + (var(--_button-size) * 1.5));
    height: var(--_button-size);
    background: hsl(0 0% 0% / 0.75);
    z-index: -1;
    border-radius: 100vw;
    }
  #panel2-title::after {
    content: "";
    position: absolute;
    left: calc((var(--_panel-gap) + var(--_button-size)) * -1);
    width: calc(100% + (var(--_button-size) * 1.5));
    height: var(--_button-size);
    background: hsl(0 0% 0% / 0.75);
    z-index: -1;
    border-radius: 100vw;
    }
  #panel3-title::after {
    content: "";
    position: absolute;
    left: calc((var(--_panel-gap) + var(--_button-size)) * -1);
    width: calc(100% + (var(--_button-size) * 1.5));
    height: var(--_button-size);
    background: hsl(0 0% 100% / 0.45);
    z-index: -1;
    border-radius: 100vw;
    }
}
