/* Responsiveness */
@media (max-width: 992px) {
  .navbar .links {
    display: none;
    z-index: 101;
  }

  .navbar #menu-icon {
    display: block;
    z-index: 101;
  }

  .dropdown_menu {
    display: block;
    z-index: 101;
  }

  .home-content {

  }

  .picture img {
    width: 80%;
    margin-left: 15vh;
    margin-right: 5vh;
  }
}
