/* Responsiveness */
@media (max-width: 1299px) {
  .about {
    flex-direction: column-reverse!important;
  }
}

/* Navbar */
@media (min-width: 610px) and (max-width: 992px) {
  .navbar .links {
    display: none;
    z-index: 101;
  }

  .navbar #menu-icon {
    display: block;
    z-index: 101;
  }

  .dropdown_menu {
    display: block;
    z-index: 101;
  }

  /* .home-content {
  } */

}

@media (min-width: 610px) and (max-width: 991px) {
  /* .picture img {
    display: none;
  } */

  .navbar .links {
    display: none;
    z-index: 101;
  }

  .navbar #menu-icon {
    display: block;
    z-index: 101;
  }

  .dropdown_menu {
    display: block;
    z-index: 101;
  }

  /* .home-content {
    max-width: 25%;
    min-width: 20rem!important;
    flex-wrap: wrap;
  } */

  /* .picture img {
    width: 80%;
    margin-left: 15vh;
    margin-right: 5vh;
  } */
}


@media (min-width: 511px) and (max-width: 609px) {
  * > .home {
    padding-left: 0!important;
}

.home .social-buttons {
  margin-left: 2rem;
}
.home .home-content {
  margin-left: 2rem;
}

  .navbar .links {
    display: none;
    z-index: 101;
  }


  .navbar #menu-icon {
    display: block;
    z-index: 101;
  }

  .dropdown_menu {
    display: block;
    z-index: 101;
  }


  .home-content .typewriter {
    color: var(--secondary);
    text-shadow: 0 0 9px var(--secondary);
    overflow-wrap: break-word!important;
    word-wrap: break-word!important;
    white-space: nowrap!important;
  }

  .home-content h1 {
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.2;
    /* overflow-wrap: break-word!important;
    word-wrap: break-word!important;
    white-space: nowrap!important; */
  }

  .home-content h3 {
    font-size: 2.5rem;
    font-weight: 700;
  }


  .home-content {
    max-width: 40%;
    min-width: 37.5rem!important;
    flex-wrap: wrap;
  }

  .social-buttons {
    margin-left: 0;
    max-width:50px;
  }

  /* .picture img {
    display: none;
  } */
}


@media (min-width: 441px) and (max-width: 510px) {

  * > .home {
    padding-left: 0!important;
}

.home .social-buttons {
  margin-left: 2rem;
}
.home .home-content {
  margin-left: 2rem;
}

  .navbar .links {
    display: none;
    z-index: 101;
  }


  .navbar #menu-icon {
    display: block;
    z-index: 101;
  }

  .dropdown_menu {
    display: block;
    z-index: 101;
  }


  .home-content .typewriter {
    color: var(--secondary);
    text-shadow: 0 0 9px var(--secondary);
    overflow-wrap: break-word!important;
    word-wrap: break-word!important;
    white-space: nowrap!important;
  }

  .home-content h1 {
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.2;
    /* overflow-wrap: break-word!important;
    word-wrap: break-word!important;
    white-space: nowrap!important; */
  }

  .home-content h3 {
    font-size: 2.5rem;
    font-weight: 700;
  }


  .home-content {
    max-width: 35%;
    min-width: 30rem!important;
    flex-wrap: wrap;
    margin-left: 0.5rem;
  }

  .social-buttons {
    margin-left: 0;
    max-width:50px;
  }

  .picture img {
    display: none;
  }
}

@media (min-width: 411px) and (max-width: 440px) {
  * > .home {
    padding-left: 0!important;
}

.home .social-buttons {
  margin-left: 2rem;
}
.home .home-content {
  margin-left: 2rem;
}
  .navbar .links {
    display: none;
    z-index: 101;
  }


  .navbar #menu-icon {
    display: block;
    z-index: 101;
  }

  .dropdown_menu {
    display: block;
    z-index: 101;
  }

  .navbar .logo {
    font-size: 4rem!important;
    color: var(--text);
    font-weight: 600;
    pointer-events: none;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    margin-left: 2rem;
    position: relative;

  }


  .home-content .typewriter {
    color: var(--secondary);
    text-shadow: 0 0 9px var(--secondary);
    overflow-wrap: break-word!important;
    word-wrap: break-word!important;
    white-space: nowrap!important;
  }

  .home-content h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2;
    /* overflow-wrap: break-word!important;
    word-wrap: break-word!important;
    white-space: nowrap!important; */
  }

  .home-content h3 {
    font-size: 2.25rem;
    font-weight: 700;
  }


  .home-content {
    max-width: 35%;
    min-width: 27rem!important;
    flex-wrap: wrap;
    margin-left: 0.2rem;
  }

  .social-buttons {
    margin-left: 0;
    max-width:50px;
  }

  .picture img {
    display: none;
  }
}


@media (min-width:397) and (max-width: 410px) {
  * > .home {
    padding-left: 0!important;
}

.home .social-buttons {
  margin-left: 1.5rem;
}
.home .home-content {
  margin-left: 1.5rem;
}

.navbar .links {
  display: none;
  z-index: 101;
}

  .navbar #menu-icon {
    display: block!important;
    z-index: 101;
  }

  .dropdown_menu {
    display: block;
    z-index: 101;
  }

  .navbar .logo {
    font-size: 4rem!important;
    color: var(--text);
    font-weight: 600;
    pointer-events: none;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    margin-left: 2rem;
    position: relative;

  }

  .home-content .typewriter {
    color: var(--secondary);
    text-shadow: 0 0 9px var(--secondary);
    overflow-wrap: break-word!important;
    word-wrap: break-word!important;
    white-space: nowrap!important;
  }

  .home-content h1 {
    font-size: 2.75rem;
    font-weight: 700;
    line-height: 1.2;
    /* overflow-wrap: break-word!important;
    word-wrap: break-word!important;
    white-space: nowrap!important; */
  }

  .home-content h3 {
    font-size: 2.25rem;
    font-weight: 700;
  }

  .home-content {
    max-width: 35%;
    min-width: 27rem!important;
    flex-wrap: wrap;
    margin-left: 0.2rem;
  }

  .social-buttons {
    margin-left: 0;
    max-width:50px;
  }

  .picture img {
    display: none;
  }

}

@media (min-width: 370px) and (max-width: 396px) {
  * > .home {
    padding-left: 0!important;
}

.home .social-buttons {
  margin-left: 1rem;
}
.home .home-content {
  margin-left: 1rem;
}
  .navbar .links {
    display: none;
    z-index: 101;
  }

  .navbar #menu-icon {
    display: block;
    z-index: 101;
  }

  .dropdown_menu {
    display: block;
    z-index: 101;
  }

  .navbar .logo {
    font-size: 4rem!important;
    color: var(--text);
    font-weight: 600;
    pointer-events: none;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    margin-left: 2rem;
    position: relative;

  }

  .home-content .typewriter {
    color: var(--secondary);
    text-shadow: 0 0 9px var(--secondary);
    overflow-wrap: break-word!important;
    word-wrap: break-word!important;
    white-space: nowrap!important;
  }

  .home-content h1 {
    font-size: 2.75rem;
    font-weight: 700;
    line-height: 1.2;
    /* overflow-wrap: break-word!important;
    word-wrap: break-word!important;
    white-space: nowrap!important; */
  }

  .home-content h3 {
    font-size: 2rem;
    font-weight: 700;
  }

  .home-content {
    max-width: 35%;
    min-width: 27rem!important;
    flex-wrap: wrap;
    margin-left: 0.2rem;
  }

  .social-buttons {
    margin-left: 0;
    max-width:50px;
  }

  .picture img {
    display: none;
  }

}


@media (min-width: 350px) and (max-width: 369px) {
  * > .home {
    padding-left: 0!important;
}

.home .social-buttons {
  margin-left: 1rem;
}
.home .home-content {
  margin-left: 1rem;
}
  .navbar .links {
    display: none;
    z-index: 101;
  }

  .navbar #menu-icon {
    display: block;
    z-index: 101;
  }

  .dropdown_menu {
    display: block;
    z-index: 101;
  }

  .navbar .logo {
    font-size: 4rem!important;
    color: var(--text);
    font-weight: 600;
    pointer-events: none;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    margin-left: 2rem;
    position: relative;

  }

  .home-content .typewriter {
    color: var(--secondary);
    text-shadow: 0 0 9px var(--secondary);
    overflow-wrap: break-word!important;
    word-wrap: break-word!important;
    white-space: nowrap!important;
  }

  .home-content h1 {
    font-size: 2.75rem;
    font-weight: 700;
    line-height: 1.2;
    /* overflow-wrap: break-word!important;
    word-wrap: break-word!important;
    white-space: nowrap!important; */
  }

  .home-content h3 {
    font-size: 1.75rem;
    font-weight: 700;
  }

  .home-content p {
    font-size: 1.75rem;
    font-weight: 500;
  }

  .home-content {
    max-width: 35%;
    min-width: 25rem!important;
    flex-wrap: wrap;
    margin-left: 0.2rem;
  }

  .social-buttons {
    margin-left: 0;
    max-width:50px;
  }

  .picture img {
    display: none;
  }

}


@media (min-width: 320px) and (max-width: 349px) {
  * > .home {
    padding-left: 0!important;
}

.home .social-buttons {
  margin-left: 0.5rem;
}
.home .home-content {
  margin-left: 1rem;
}
  .navbar .links {
    display: none;
    z-index: 101;
  }

  .navbar #menu-icon {
    display: block;
    z-index: 101;
  }

  .dropdown_menu {
    display: block;
    z-index: 101;
  }

  .navbar .logo {
    font-size: 4rem!important;
    color: var(--text);
    font-weight: 600;
    pointer-events: none;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    margin-left: 2rem;
    position: relative;

  }

  .home-content .typewriter {
    color: var(--secondary);
    text-shadow: 0 0 9px var(--secondary);
    overflow-wrap: break-word!important;
    word-wrap: break-word!important;
    white-space: nowrap!important;
  }

  .home-content h1 {
    font-size: 2.75rem;
    font-weight: 700;
    line-height: 1.2;
    /* overflow-wrap: break-word!important;
    word-wrap: break-word!important;
    white-space: nowrap!important; */
  }

  .home-content h3 {
    font-size: 1.75rem;
    font-weight: 700;
  }

  .home-content p {
    font-size: 1.75rem;
    font-weight: 500;
  }

  .home-content {
    max-width: 35%;
    min-width: 23rem!important;
    flex-wrap: wrap;
    margin-left: 0.2rem;
  }

  .social-buttons {
    margin-left: 0;
    max-width:50px;
  }

  .picture img {
    display: none;
  }

}

@media (max-width: 319px) {
  * > .home {
    padding-left: 0!important;
}

.home .social-buttons {
  margin-left: 0.5rem;
}
.home .home-content {
  margin-left: 0.75rem;
}
  .navbar .links {
    display: none;
    z-index: 101;
  }

  .navbar #menu-icon {
    display: block;
    z-index: 101;
  }

  .dropdown_menu {
    display: block;
    z-index: 101;
  }

  .navbar .logo {
    font-size: 4rem!important;
    color: var(--text);
    font-weight: 600;
    pointer-events: none;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    margin-left: 2rem;
    position: relative;

  }

  .home-content .typewriter {
    color: var(--secondary);
    text-shadow: 0 0 9px var(--secondary);
    overflow-wrap: break-word!important;
    word-wrap: break-word!important;
    white-space: nowrap!important;
  }

  .home-content h1 {
    font-size: 2.75rem;
    font-weight: 700;
    line-height: 1.2;
    /* overflow-wrap: break-word!important;
    word-wrap: break-word!important;
    white-space: nowrap!important; */
  }

  .home-content h3 {
    font-size: 1.75rem;
    font-weight: 700;
  }

  .home-content p {
    font-size: 1.75rem;
    font-weight: 500;
  }

  .home-content {
    max-width: 35%;
    min-width: 22rem!important;
    flex-wrap: wrap;
    margin-left: 0.2rem;
  }

  .social-buttons {
    margin-left: 0;
    max-width:50px;
  }

  .picture img {
    display: none;
  }

}


/* Pictures */

/* @media (min-width: 991px) and (max-width: 1085px) {
  .picture img {
  width: 30vh;
  margin-left: 7vh;
  margin-right: 7vh;
  }
} */
