/* Define the strings to be typed */
:root {
  --strings: "CSS typed this string!", "It typed this one too 😱", "Enjoy ☕";
}

/* Define the timing variables */
:root {
  --durCharFwd: 0.10s; /* character typed */
  --durFullGap: 2.00s; /* time between typed/delete */
  --durCharBwd: 0.08s; /* character deleted */
  --durDoneGap: 1.00s; /* time between strings */
}

/* Define the percent() function */
@function percent($string, $letter, $modifier) {
  $stringsPast: $string - 1; $time: 0;
  @while $stringsPast > 0 {
    $time: $time
      + ((str-length(nth(var(--strings), $stringsPast))) * (var(--durCharFwd) + var(--durCharBwd)))
      + var(--durFullGap) + var(--durDoneGap);
    $stringsPast: $stringsPast - 1;
  }
  @if $letter <= str-length(nth(var(--strings), $string)) {
    $time: $time
      + (var(--durCharFwd) * ($letter - 1));
  } @else {
    $time: $time
      + (var(--durCharFwd) * str-length(nth(var(--strings), $string)))
      + var(--durFullGap)
      + (var(--durCharBwd) * ($letter - str-length(nth(var(--strings), $string))));
  }
  @return ($time / ((str-length(nth(var(--strings), 1))) * (var(--durCharFwd) + var(--durCharBwd)) + var(--durFullGap) + var(--durDoneGap)) * 100 + $modifier) + "%";
}

/* Define the typed animation */
@keyframes typed {
  @for $i from 1 through length(var(--strings)) {
    @for $j from 1 through (str-length(nth(var(--strings), $i)) * 2) {
      /* string #{$i}, char #{$j} */
      @if $j < str-length(nth(var(--strings), $i)) * 2 { /* not last character deleted */
        #{percent($i, $j, 0)}, #{percent($i, $j+1, -0.001)} {
          @if $j <= str-length(nth(var(--strings), $i)) {
            content: quote(#{str-slice(nth(var(--strings), $i), 1, $j)});
          } @else {
            content: quote(#{str-slice(nth(var(--strings), $i), 1, str-length(nth(var(--strings), $i)) - ($j - str-length(nth(var(--strings), $i))))});
          }
        }
      } @else {
        @if $i < length(var(--strings)) { /* not last string */
          #{percent($i, $j, 0)}, #{percent($i+1, 1, -0.001)} {
            content: "​"; /* zero-width space to retain element height */
          }
        } @else { /* last string */
          #{percent($i, $j, 0)}, 100% {
            content: "​"; /* zero-width space to retain element height */
          }
        }
      }
