@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import "./_about.css";
@import "./_about-animation.css";
@import "./_animations.css";
@import "./_buttons.css";
@import "./_colors.css";
@import "./_contact.css";
@import "./_electricity.css";
@import "./_hex-grid.css";
@import "./_home.css";
@import "./_home-animation.css";
@import "./_modals.css";
@import "./_navbar.css";
@import "./_navbar-animation.css";
@import "./_portfolio.css";
@import "./_responsiveness.css";
@import "./_skills.css";
@import "./_text-type-animation.css";

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden
}

body {
  min-height: calc(100vh + 500px);
}


*::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100%;
  overflow-y: hidden;
  color: var(--text)
}

.container {
  background: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
}

section {
  min-height: 85vh;
  padding: 10rem 9% 2rem;
  z-index: 100!important;
}
